extends core/page

block headContent
  title Log In

block bodyContent
  h1 Log In
  form(action="./login" method="post")
    input(value=redirectTo id="redirectTo" name="redirectTo" type="hidden")
    table
      tr
        td
          label(for="username") Username
        td
          input(class="u-full-width" id="username" name="username" type="text")
      tr
        td
          label(for="password") Password
        td
          input(class="u-full-width" id="password" name="password" type="password")
    p
      input(class="button-primary" type="submit" value="Log in")
  p
    | Don't have an account yet? 
    a(href="./register") Register here
    | .