extends core/page

block headContent
  title Register

block bodyContent
  h1 Register
  form(action="./register" method="post")
    table
      tr
        td
          label(for="email") Email
        td
          input(class="u-full-width" id="email" name="email" type="email")
      tr
        td
          label(for="username") Username
        td
          input(class="u-full-width" id="username" name="username" type="text")
      tr
        td
          label(for="password") Password
        td
          input(class="u-full-width" id="password" name="password" type="password")
    p
      input(class="button-primary" type="submit" value="Register")
  p
    | Already have an account? 
    a(href="./login") Log in
    | .