#controller .buttons-container {
  display: flex;
  justify-content: space-between;
}

#controller .selected {
  background-color: #eeeeee;
}

#controller a + a {
  margin-left: 0.6rem;
}

#controller tbody tr:hover {
  background-color: #f3ffbd;
  cursor: pointer;
}

#instance-specific-buttons {
  display: none;
}

#controller.instance-selected #instance-specific-buttons {
  display: inline-block;
}
