@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Nunito');

/* General styles */
body {
  color: #222;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  max-width: 720px;
  padding: 1rem;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

td,
th {
  text-align: left;
  padding-right: 1rem;
}

/* Navigation */
.nav-bar {
  margin: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: black;
}

nav a + a {
  margin-left: 0.6rem;
}

nav > div > a {
  text-decoration: none;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 8px 16px;
}

nav > div > a:hover {
  border: 1px solid #bbb;
  cursor: pointer;
}

nav a span {
  margin-left: 0.6rem;
}

.nav-links-container {
  display: flex;
}

.icon > img {
  width: 48px;
  height: 48px;
}

/* Forms */
textarea {
  width: 720px;
  height: 200px;
}

pre,
textarea {
  font-family: 'Nunito';
}

label {
  padding: 0.4rem 0;
  margin-top: 8px;
  width: 8rem;
}

form tr:not(:first-child) td {
  padding-top: 1rem;
}

button,
input[type='submit'],
input[type='password'],
input[type='number'],
input[type='text'],
input[type='email'],
input[type='date'],
input[type='time'],
input[type='datetime-local'],
textarea,
select {
  background: none;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  font-family: 'Roboto Mono';
  padding: 8px 16px;
}

button:hover,
button:focus,
input[type='submit']:hover,
input[type='submit']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='date']:focus,
input[type='time']:focus,
input[type='datetime-local']:focus,
textarea:focus,
select:focus {
  border: 1px solid #bbb;
}

button:hover,
input[type='submit']:hover {
  cursor: pointer;
}

select {
  min-width: 3.5rem;
}

/* Specific styles */
.center {
  text-align: center;
}

.error {
  background-color: #ea5455;
}

.success {
  background-color: #70c1b3;
}

.info {
  background-color: #247ba0;
}

.banner {
  color: white;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 3px;
}

table {
  border-collapse: collapse;
}
