//- Display instances in a table, with buttons to create, edit, delete, and view individual
//- instances.
//-
//- Model                   model      A model.
//- Array<Instance<Model>>  instances  An array of instances of the given model.

extends page

block headContent
  title= `${model.name} Controller`
  link(rel="stylesheet", href=`${base}/controller.css`)

block bodyContent
  -
    /** Get the most appropriate text to display for the given property and instance. */
    function getText(prop, instance) {
      const value = instance[prop.name];
      const arg = prop.type === 'reference' ?
        prop.options.find(option => option[prop.referenceProperty] === value) :
        value;
      return typeof prop.displayFormatter === 'function' ? prop.displayFormatter(arg) : value;
    }
  h1= `${model.name} Controller`
  div#controller
    p.buttons-container
      a(href='./create')
        button Create
      span#instance-specific-buttons
        a#edit-button
          button Edit
        a#view-button
          button View
        a#delete-button
          button Delete
    - const props = model.properties.filter(prop => !(prop.private || prop.type === 'password'));
    table
      thead
        tr
          each prop in props
            if prop.displayName
              th= prop.displayName
            else
              th= prop.name
      tbody
        each instance in instances
          -
            // We identify a unique record by the combination of its primary keys.
            const primaryKeys = model.properties.filter(prop => prop.primaryKey);
            const query = primaryKeys
              .map(prop => `${prop.name}=${encodeURIComponent(instance[prop.name])}`)
              .join('&');
          tr(id=query)
            each prop in props
              td= getText(prop, instance)
    script(src=`${base}/controller.js`)
