//- A view to let a user delete an instance.
//-
//- Model            model      A model.
//- Instance<Model>  instance  An instance of the given model.

extends page

block headContent
  title= `Delete ${model.name}`

block bodyContent
  if instance
    h1= `Delete ${model.name}`
    p= `If you're sure you want to delete the following ${model.name}, please click the button below.`
    include detail
    form(action='' method='post')
      p
        input(type='submit' value='Delete')
    hr
    +detail({
      model: model,
      instance: instance
    })
