//- Display the properties of a given instance.
//-
//- Model            model     A model.
//- Instance<Model>  instance  An instance of the given model.

extends page

block headContent
  title Detail

block bodyContent
  include detail
  +detail({ model: model, instance: instance })
