//- Display the properties of a given instance.
//- 
//- Model            model     A model.
//- Instance<Model>  instance  An instance of the given model.

-
  /** Get the most appropriate text to display for the given property and instance. */
  function getText(prop, instance) {
    const value = instance[prop.name];
    const arg = prop.type === 'reference' ?
      prop.options.find(option => option[prop.referenceProperty] === value) :
      value;
    return typeof prop.displayFormatter === 'function' ? prop.displayFormatter(arg) : value;
  }

mixin detail(args)
  each prop in args.model.properties
    //- NOTE: Could do a more generally applicable solution here like a 'hidden' attribute. I'm
    //- going to wait until there is more than one reason to make that abstraction though.
    if !(prop.private || prop.type === 'password')
      if prop.displayName
        h2= prop.displayName
      else
        h2= prop.name
      p= getText(prop, args.instance)
