include formInput

//- Creates an editor for a given model.
//-
//- Array<Property>  properties    The array of properties on the model.
//-
//- Instance<Model>  instance?     An instance of the model.
//- String           action?       The URL for the action of the form.
//- String           method?       The method for the form ('post' or 'get').
//- String           buttonLabel?  The text for the submit button.

mixin editor(args)
  - const { properties, instance, action, method, buttonLabel } = args;
  form(action=(action || '') method=(method || 'get'))
    table
      each prop in properties.filter(p => !p.private && !p.readonly)
        tr
          +formInput({
            property: prop,
            value: instance ? instance[prop.name] : undefined
          })

    //- TODO: Think of a good way to abstract styles away.
    p
      input(type='submit' value=(buttonLabel || "Submit") class='positive-bg')
