//- Display the properties of a given instance.
//-
//- Model            model         A model.
//- Instance<Model>  instance      An instance of the given model.

//- String           action?       The action URL for the form. Defaults to current page.
//- String           buttonLabel?  The label for the submit button. Defaults to 'Submit'.

extends page

block headContent
  title Editor

block bodyContent
  include editor
  +editor({
    properties: model.properties,
    instance: instance,
    action: action,
    method: 'post',
    buttonLabel: buttonLabel || 'Submit'
  })
