//- Returns an HTML form input for a given property
//- 
//- String         property.type          The type of the property
//- String         property.name          The name of the property
//- 
//- String         value?                 The default value to use in the form input
//- String         property.displayName?  The preferred formatting of the name for displaying
//- String         property.placeholder?  The placeholder value to put in the input
//- Array<String>  property.enumValues?   The different enum values for a select element

-
  /**
   * Takes a Date object and returns a string that can be used to set the
   * `value` attribute of an <input type="datetime-local"> to.
   */
  const formatDateForInput = d => {
    d.setUTCMinutes(d.getUTCMinutes() - d.getTimezoneOffset());
    return d.toISOString().substring(0, 16);
  };

mixin formInput(args)
  - const { property, value } = args;
  if value
    td
      label(for=property.name)= property.displayName || property.name
    td
      if property.inputElement === 'textarea'
        textarea(id=property.name, name=property.name, placeholder=(property.placeholder||property.displayName||''))= value
      else if property.type === 'string'
        input(id=property.name, name=property.name, type="text", value=value, placeholder=(property.placeholder||property.displayName||''))
      else if property.type === 'email'
        input(id=property.name, name=property.name, type="email", value=value, placeholder=(property.placeholder||property.displayName||''))
      else if property.type === 'enum'
        select(id=property.name, name=property.name)
          each enumVal in property.enumValues
            if enumVal === value
              option(value=enumVal selected)= enumVal
            else
              option(value=enumVal)= enumVal
      else if property.type === 'reference'
        select(id=property.name, name=property.name)
          each optionValue in property.options
            - const label = (typeof property.optionFormatter === 'function') ? property.optionFormatter(optionValue) : optionValue[property.referenceProperty]
            if optionValue[property.referenceProperty] === value
              option(value=optionValue[property.referenceProperty] selected)= label
            else
              option(value=optionValue[property.referenceProperty])= label
      else if property.type === 'date'
        input(id=property.name, name=property.name, type="datetime-local", value=formatDateForInput(new Date(value)))
      else if property.type === 'password'
        input(id=property.name, name=property.name, type="password", placeholder=(property.placeholder||property.displayName||''))
      else if property.type === 'number'
        input(id=property.name, name=property.name, type="number", step="any", value=value)
  else
    td
      label(for=property.name)= property.displayName || property.name
    td
      if property.inputElement === 'textarea'
        textarea(id=property.name, name=property.name, placeholder=(property.placeholder||property.displayName||''))
      else if property.type === 'string'
        input(id=property.name, name=property.name, type="text", placeholder=(property.placeholder||property.displayName||''))
      else if property.type === 'email'
        input(id=property.name, name=property.name, type="email", placeholder=(property.placeholder||property.displayName||''))
      else if property.type === 'enum'
        select(id=property.name, name=property.name)
          each enumVal in property.enumValues
            option(value=enumVal)= enumVal
      else if property.type === 'reference'
        select(id=property.name, name=property.name)
          each optionValue in property.options
            - const label = (typeof property.optionFormatter === 'function') ? property.optionFormatter(optionValue) : optionValue[property.referenceProperty]
            option(value=optionValue[property.referenceProperty])= label
      else if property.type === 'date'
        input(id=property.name, name=property.name, type="datetime-local", value=(formatDateForInput(new Date())))
      else if property.type === 'password'
        input(id=property.name, name=property.name, type="password", placeholder=(property.placeholder||property.displayName||''))
      else if property.type === 'number'
        input(id=property.name, name=property.name, type="number", step="any")
