//- Display a list of instances in a table
//- @param {Model} model A model
//- @param {Array<Model>} instances A list of instances to display in a list

//- Requirements:
//-
//-     1. Must be able to select a subset of items in the list to operate on
//-     2. Must be able to edit multiple fields of all selected items

form(action="./")
    div
        label(for="sortBy") Sort By
        select#sortBy(name="sortBy")
            each prop in model.properties.filter(prop => ! prop.private)
                option(value=prop.name)= prop.displayName
    div
        label(for="sortOrder") Sort descending
        input(type="checkbox")
    div
        input(type="submit" value="Submit")
include editor
table
    thead
        tr
            th
            each prop in model.properties.filter(prop => ! prop.private)
                th= prop.displayName ? prop.displayName : prop.name
    tbody
        each instance in instances
            tr
                td
                    input(type="checkbox")
                each prop in model.properties.filter(prop => ! prop.private)
                    block tableCell
                        td= instance[prop.name]
