doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" href=`${base}/icon48.png`)
    link(rel="stylesheet", href=`${base}/webapp.css`)
    link(rel="manifest" href=`${base}/manifest.webmanifest`)
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous")
    block headContent
  body
    header(class="nav-bar")
      div(class="container")
        nav
          a(href=base)
            div(class="logo")
              img(src=`${base}/icon48.png`)
          div
            if isAuthenticated
              a(href=`${base}/logout`)
                i(class="fas fa-sign-out-alt")
                span Log Out
            else
              a(href=`${base}/login`)
                i(class="fas fa-sign-in-alt")
                span Log in
              a(href=`${base}/register`)
                i(class="fas fa-heart")
                span Register
    div#app(class="container")
      if banner
        include mixins/banner
        +banner(banner.message, banner.type)
      block bodyContent
