//- Display instances in a table.
//-
//- Model                   model      A model.
//- Array<Instance<Model>>  instances  An array of instances of the given model.

extends page

block headContent
  title Table

block bodyContent
  include table
  +table({ model: model, instances: instances })
