//- Display instances in a table.
//-
//- Model                   model      A model.
//- Array<Instance<Model>>  instances  An array of instances of the given model.

mixin table(args)
  - const props = args.model.properties.filter(prop => !(prop.private || prop.type === 'password'));
  table
    thead
      tr
        each prop in props
          if prop.displayName
            th= prop.displayName
          else
            th= prop.name
    tbody
      each instance in args.instances
        tr
          each prop in props
            td= instance[prop.name]
